{
    "botToken": "<your_bot_token>",
    "muteRole": "Muted",
    "infoLogsChannelWebHookURL": "",
    "errorLogsChannelWebHookURL": "",
    "dbFile": "bot.db",
    "klippyApiKey": "<your_api_key>",
    "kimiApiKey": "<your_api_key>"
}